/*
Theme Name: LWC
Theme URI: http://louderwithcrowder.com/
Author: Louder With Crowder
Author URI: http://louderwithcrowder.com/
Description: Louder With Crowder
Version: 1.0
-----------------------------------------------------------------------------*/

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside,
details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    background: #fff;
    font-family: 'Alegreya Sans',Arial,Helvetica,sans-serif;
}

#lwc-container {
    width: 100%;
}

#lwc-wrap {
    width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    max-width: 100%;
}

#lwc-primary {
    float: left;
    width: 400px;
    margin-top: 25px;
    max-width: 100%;
}

#lwc-content {
    float: left;
    width: 660px;
    margin-top: 25px;
    max-width: 100%;
}

#lwc-secondary {
    float: left;
    width: 380px;
    margin-top: 36px;
    padding-left: 40px;
    max-width: 100%;
}

#lwc-footer {
    clear: both;
}

.lwc-logo {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
}

.lwc-logo-mobile {
    display: none;
}

.lwc-nav {
    background-color: #2c6b95;
    height: 40px;
}

.lwc-nav nav {
    width: 750px;
    margin: 0 auto;
    height: 40px;
    max-width: 100%;
}

.nav-wrap {
    position: relative;
    width: 1395px;
    margin: 0 auto;
    max-width: 100%;
}

.sticky-nav {
    display: none;
    position: absolute;
    left: 20px;
}

.sticky-nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.lwc-sticky .nav-wrap .sticky-nav {
    display: inline-block;
}

.lwc-nav-right {
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}

.lwc-social a {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
}

.lwc-search i {
    color: #fff;
    font-size: 18px;
    margin-left: 35px;
    cursor: pointer;
}

.search-form {
    height: 40px;
    width: 172px;
    background-color: #2a374f;
}

.search-form input {
    width: 124px;
    height: 14px;
    padding: 3px;
    border: none;
    margin-left: 7px;
}

.search-form button {
    background-color: #2a374f;
    border: none;
    cursor: pointer;
    height: 40px;
}

.search-form button i {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


button.load-more {
    background: #2C6B95;
    border: 0px solid transparent;
    padding: .5em 2em;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: .5em 0em 4em;
}
button.load-more:hover {
  background: #1B506D;
}
.load-more-container {
  margin: 0 auto;
}


.menu-primary-menu-container {
    width: 550px;
    display: inline-block;
    vertical-align: top;
}

#menu-primary-menu {
    list-style: none;
}

#menu-primary-menu li {
    display: inline-block;
    vertical-align: top;
    padding-right: 9px;
    padding-left: 9px;
    position: relative;
}

#menu-primary-menu li a {
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

#menu-primary-menu > li:hover {
    background-color: #2a374f;
}

.lwc-desktop-ad-leaderboard {
    background-color: #f5f5f5;
    padding: 13px 0 8px;
    text-align: center;
}

.lwc-recent {
    width: 320px;
    margin: 0 auto;
}

.recent-box {
    margin-bottom: 30px;
}

.recent-box img {
    width: 320px;
}

.recent-title {
    margin-top: 4px;
}

.recent-title a {
    font-size: 18px;
    font-weight: 600;
    color: #2c6b95;
    text-decoration: none;
    line-height: 28px;
}

.recent-heading {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
}

.recent-featured {
    display: none;
}

.lwc-featured {
    width: 660px;
    margin: 0 auto;
    max-width: 100%;
}

.featured-box {
    margin-bottom: 30px;
}

.img-container{
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    background-color: white;
    position: relative;
}

.img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featured-box .img-container {
    padding-bottom: 40.75%; /* featured post images are much wider that the orig 16:9, maybe 16:6? */
}

/*.featured-box img {
    width: 660px;
    max-width: 100%;
}*/

.featured-title {
    margin-top: 13px;
    margin-bottom: 12px;
}

.featured-title a {
    font-size: 26px;
    font-weight: 600;
    color: #2c6b95;
    text-decoration: none;
    line-height: 28px;
}

.featured-heading {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
}

.featured-heading:before,
.recent-heading:before {
    content: "";
    display: block;
    border-top: solid 1px #969696;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.recent-heading span,
.featured-heading span {
    background: #fff;
    padding: 0 20px 0 0;
    position: relative;
    z-index: 5;
}

.recent-heading:hover,
.featured-heading:hover {
    color: #2c6b95;
}

.lwc-subscribe-email {
    width: 300px;
    height: 88px;
    background-color: #3f3f3f;
    padding: 5px 14px 16px;
display:none;
}

.lwc-subscribe-email div {
    display: inline-block;
    height: 42px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 42px;
}

.lwc-subscribe-email div i {
    color: #fff;
    font-size: 28px;
    margin-right: 14px;
    vertical-align: middle;
    line-height: 42px;
    margin-top: -5px;
}

.subscribe-input {
    width: 170px;
    height: 22px;
    border: none;
    background-color: #fff;
    display: inline-block;
    float: left;
    padding: 5px;
}

.subscribe-button {
    width: 85px;
    height: 32px;
    border: 3px solid #fff;
    background-color: #2c6b95;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
}

.lwc-subscribe-podcast {
    width: 300px;
    height: 50px;
    background-color: #2c6b95;
    margin-top: 3px;
    cursor: pointer;
    margin-bottom: 5px;
}

.lwc-subscribe-podcast div {
    display: inline-block;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 50px;
}

.lwc-subscribe-podcast div i {
    color: #fff;
    font-size: 23px;
    margin-right: 12px;
    margin-left: 16px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: -5px;
}

.lwc-send-tip {
    width: 300px;
    height: 50px;
    background-color: #1b506d;
    margin-top: 3px;
    cursor: pointer;
    margin-bottom: 30px;
}

.lwc-send-tip div {
    display: inline-block;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 50px;
}

.lwc-send-tip div i {
    color: #fff;
    font-size: 23px;
    margin-right: 12px;
    margin-left: 16px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: -5px;
}

.lwc-sticky {
    z-index: 100;
}

.sticky-on {
    position: fixed;
    top: 40px;
    z-index: 100;
    border-top: 0;
}

.inifinite-load {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 50%;
    display:none;
}

.lwc-ssc-left {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    margin-left: 40px;
}

.lwc-ssc-right {
    display: inline-block;
    vertical-align: top;
    width: 155px;
}

.lwc-title {
    font-size: 26px;
    color: #2a374f;
    font-weight: 600;
    margin-bottom: 18px;
}

.lwc-post-info {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin-bottom: 40px;
}

.lwc-author {
    font-size: 14px;
    color: #999999;
    text-transform: uppercase;
    margin-bottom: 45px;
    line-height: 26px;
}

.lwc-date {
    font-size: 14px;
    color: #999999;
    text-transform: uppercase;
    margin-bottom: 45px;
    line-height: 26px;
    float: right;
}

.lwc-primary-wrap {
    margin: 0 auto;
    width: 320px;
}

.type-wrap {
    color: #3f3f3f;
    line-height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.type-wrap img {
    max-width: 100%;
    height: auto;
}

.type-wrap iframe, .type-wrap object, .type-wrap embed, .type-wrap div {
    max-width: 100%;
}

.type-wrap p {
    margin-bottom: 20px;
    margin-top: 0;
}

.type-wrap a,
.type-wrap a::after,
.type-wrap a::before {
    color: #2c6b95;
}

.type-wrap blockquote,
.type-wrap blockquote q {
    font-style: italic;
}

.type-wrap ol {
    margin-left: 2em;
    margin-bottom: 1em;
}
.type-wrap li {
    margin-bottom: 0.5em;
}

.type-wrap blockquote {
    border-left: 4px solid #2c6b95;
    background-color: #f6f6f6;
    padding: 15px;
    display: block;
    margin: 0 40px 20px;
}

.type-wrap blockquote *:last-child {
    margin-bottom: 0;
}

.type-wrap .alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}
.type-wrap .alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}
.type-wrap .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.lwc-excerpt {
    font-size: 16px;
    color: #3f3f3f;
    line-height: 24px;
}

.pagination {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pagination a {
    text-decoration: none;
    border: 1px solid #e0dede;
    color: #747474;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 6px;
    font-size: 12px;
}

.pagination .current {
    background-color: #2c6b95;
    border: 1px solid #2c6b95;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 6px;
    font-size: 12px;
}

.pagination .prev,
.pagination .next {
    border: none;
    color: #2c6b95;
}

.pagination a:hover {
    border: 1px solid #747474;
}

.pagination .prev:hover,
.pagination .next:hover {
    border: none;
}

.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 24px;
    color: #3f3f3f;
}

.commentlist .children {
    list-style: none outside none;
}
.commentlist li {
    margin: 0;
    padding: 0;
}
.commentlist .the-comment {
    border-bottom: 1px solid #e7e6e6;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.commentlist .the-comment .comment-text {
    margin-left: 69px;
}
.commentlist .the-comment .comment-text *:last-child {
    margin-bottom: 0;
}
.commentlist div.avatar {
    float: left;
    margin-right: 15px;
}
.commentlist .comment-author strong {
    padding-right: 5px;
}
#respond {
    margin-top: 40px;
}
#comment-input {
    overflow: hidden;
    margin-bottom: 13px;
}
.comment-form input,
#comment-input input {
    border: 1px solid #d2d2d2;
    width: 28%;
    font-size: 13px;
    color: #747474;
    padding: 8px 2%;
    float: left;
    margin-right: 1%;
}
#comment-input input {
    width: 28.3%;
}
.comment-form input {
    float: none;
}

#comment-textarea textarea,
.comment-form-comment textarea {
    border: 1px solid #d2d2d2;
    width: 100%;
    height: 150px;
    font-size: 13px;
    color: #747474;
    padding: 8px 11px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#comment-input input:last-child {
    margin-right: 0;
}
#comment-recaptcha {
    margin-top: 13px;
}

#comment-submit {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.comment-form input[type="submit"] {
    width: auto;
    font-weight: bold;
}

#reply-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

#comment-submit {
    background: #a0ce4e;
    color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a0ce4e,endColorstr=#a0ce4e);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-box {
    margin-top: 35px;
}

.ssc-desktop a img {
    vertical-align: middle;
}

#shiftnav-main,
.shiftnav ul.shiftnav-menu li.menu-item,
.shiftnav-target {
    background-color: #2c6b95 !important;
}

.shiftnav.shiftnav-skin-standard-dark ul.shiftnav-menu li.menu-item > .shiftnav-target {
    border-bottom: none !important;
}

#lwc-menu-toggle {
    font-size: 22px;
    color: #fff;
    line-height: 43px;
    display: none;
}

.lwc-excerpt a {
    text-decoration: none;
    color: #2c6b95;
}

#lwc-ad-home-right div.textwidget,
#lwc-ad-blog-right div.textwidget {
    margin-top: 30px;
}

p div.textwidget {
font-size:16px;
}

@media screen and (max-width: 999px) {

    .lwc-home #lwc-primary,
    .lwc-site #lwc-content {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .lwc-home .recent-box,
    .lwc-site .lwc-featured
    {
        margin-left: auto;
        margin-right: auto;
    }

    .lwc-home .lwc-recent {
        width: 96%;
        margin: 0 auto;
    }

    .lwc-home .recent-box img {
        width: 100%;
    }

    .recent-featured {
        display: block;
    }

    #lwc-secondary,
    .lwc-site #lwc-primary,
    .lwc-ssc-right,
    .lwc-desktop-ad-leaderboard,
    .lwc-home .lwc-featured,
    .menu-primary-menu-container,
    .lwc-excerpt {
        display: none;
    }

    .nav-wrap {
        padding-right: 20px;
        padding-left: 20px;
    }

    .lwc-nav-right {
        float: right;
    }

    #lwc-menu-toggle {
        display: inline-block;
    }

    #lwc-wrap {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 670px;
        width: 100%;
    }

    #lwc-mobile-home-recent-2nd,
    #lwc-mobile-home-recent-5th {
        text-align: center;
    }

    .lwc-logo {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 100%;
        height: auto;
    }

    /*.lwc-logo {
        display: none;
    }*/

    .search-form input {
        width: 115px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1460px) {

    #lwc-wrap {
        width: 100%;
    }

    #lwc-primary {
        width: 290px;
        padding-left: 20px;
    }

    #lwc-content {
        padding-left: 20px;
        width: 36%;
        width: calc(100% - 630px);
    }

    #lwc-secondary {
        padding-left: 20px;
        width: 330px;
    }

    .lwc-recent,
    .lwc-featured,
    .featured-box img,
    .recent-box img {
        width: 100%;
    }

    .lwc-ssc-right {
        width: 90px;
    }
    .lwc-ssc-left {
        margin-left: 0;
    }
}

/* EGRANATA EDIT 12-09-15 */
#lwc-header {
    background-color: #f5f5f5;
}

.at-center-layout-3 #at-cv-lightbox-close {
    background: #2c6b95 !important;
}

.fluid-width-video-wrapper {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 60%;
}
.fluid-width-video-wrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.lwc-content-wrap {
    margin-bottom: 40px;
}

/* mug club template */

.mug-club-wrapper{
    width: 100%;
    z-index: 1;
}
.lwc-75{
    float:left;
    width:69%;
    padding-right:1%;
    overflow:hidden;
}
.lwc-25{
    float:right;
    width:28%;
    padding: 1%;
    overflow:hidden;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .lwc-75{
      float:none;
      width:100%;
      padding:0;
  }
  .lwc-25{
      float:none;
      width:100%;
      padding:2em;
  }
/*.essb_links.essb_template_metro-retina {
    margin: 12px 0 10px;
    text-align: left;
    display: block;
    position: fixed !important;
    top: 18%;
  }*/
  .lwc-title {
    padding-top: 30px;
  }
}

.mug-club-wrapper h1{
    font-size: 50px;
    font-weight: 600;
    color: #2c6b95;
    text-decoration: none;
    line-height: .75em;

}
.mug-club-wrapper h2{
    font-size: 23px;
    color: #780022;
    text-decoration: none;
    line-height: 1em;

}
@media screen and (min-width: 601px) and (max-width: 999px) {
    .lwc-75{
        width:50%;
    }
    .lwc-25{
        width:50%;
        padding-top:1em;
    }
    .mug-club-wrapper h1{
        font-size: 25px;
    }
    .mug-club-wrapper h2{
        font-size: 20px;
    }
}
.lwc-quote{
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 50px;
}
.mug-club-wrapper a.sign-up{
    display: block;
    background: white;
    border: solid thin #e0dede;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    white-space: nowrap;
    color: #2c6b95;

}
.mug-club-wrapper a.sign-up:hover{
    background: #e0dede;
    border: white thin solid;
    color: #780022;
}
.mug-club-wrapper .size-post-thumbnail img{
    max-width: 100%;
    height: auto !important;
}
#blue-bar{
    display: block;
    height: 40px;
    width: 100%;
    background-color: #2c6b95;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    position: fixed;
}
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/* video wrapper styles */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* mug overlay and modal */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}
.white-popup img{
    max-width: 760px;
    width: auto;
}
@media screen and (max-width: 999px) {
.white-popup {
    max-width: 320px;
    padding:0;
    background: none;
}
.white-popup img{
    max-width: 320px;
}

}
