/* Icons */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?nbifcm');
    src:    url('../fonts/icomoon.eot?nbifcm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nbifcm') format('truetype'),
    url('../fonts/icomoon.woff?nbifcm') format('woff'),
    url('../fonts/icomoon.svg?nbifcm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tcode-event-schedule .tcode-ico[class^="ico-"], .tcode-event-schedule .tcode-ico[class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tcode-event-schedule .tcode-ico.ico-grot-down:before {
    content: "\e900";
}
.tcode-event-schedule .tcode-ico.ico-grot-up:before {
    content: "\e901";
}

.tcode-event-schedule .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tcode-event-schedule .text-center {
    text-align: center;
}

/* Bootstrap styles */
.tcode-event-schedule * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tcode-event-schedule *:before,
.tcode-event-schedule *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.tcode-event-schedule.container-fluid:before,
.tcode-event-schedule.container-fluid:after,
.tcode-event-schedule .row:before,
.tcode-event-schedule .row:after {
    content: " ";
    display: table;
}
.tcode-event-schedule.container-fluid:after,
.tcode-event-schedule .row:after {
    clear: both;
}
.tcode-event-schedule.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tcode-event-schedule .row {
    margin-left: -15px;
    margin-right: -15px;
}
.tcode-event-schedule .col-xs-1, .tcode-event-schedule .col-sm-1, .tcode-event-schedule .col-md-1, .tcode-event-schedule .col-lg-1, .tcode-event-schedule .col-xs-2, .tcode-event-schedule .col-sm-2, .tcode-event-schedule .col-md-2, .tcode-event-schedule .col-lg-2, .tcode-event-schedule .col-xs-3, .tcode-event-schedule .col-sm-3, .tcode-event-schedule .col-md-3, .tcode-event-schedule .col-lg-3, .tcode-event-schedule .col-xs-4, .tcode-event-schedule .col-sm-4, .tcode-event-schedule .col-md-4, .tcode-event-schedule .col-lg-4, .tcode-event-schedule .col-xs-5, .tcode-event-schedule .col-sm-5, .tcode-event-schedule .col-md-5, .tcode-event-schedule .col-lg-5, .tcode-event-schedule .col-xs-6, .tcode-event-schedule .col-sm-6, .tcode-event-schedule .col-md-6, .tcode-event-schedule .col-lg-6, .tcode-event-schedule .col-xs-7, .tcode-event-schedule .col-sm-7, .tcode-event-schedule .col-md-7, .tcode-event-schedule .col-lg-7, .tcode-event-schedule .col-xs-8, .tcode-event-schedule .col-sm-8, .tcode-event-schedule .col-md-8, .tcode-event-schedule .col-lg-8, .tcode-event-schedule .col-xs-9, .tcode-event-schedule .col-sm-9, .tcode-event-schedule .col-md-9, .tcode-event-schedule .col-lg-9, .tcode-event-schedule .col-xs-10, .tcode-event-schedule .col-sm-10, .tcode-event-schedule .col-md-10, .tcode-event-schedule .col-lg-10, .tcode-event-schedule .col-xs-11, .tcode-event-schedule .col-sm-11, .tcode-event-schedule .col-md-11, .tcode-event-schedule .col-lg-11, .tcode-event-schedule .col-xs-12, .tcode-event-schedule .col-sm-12, .tcode-event-schedule .col-md-12, .tcode-event-schedule .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.tcode-event-schedule .col-xs-1, .tcode-event-schedule .col-xs-2, .tcode-event-schedule .col-xs-3, .tcode-event-schedule .col-xs-4, .tcode-event-schedule .col-xs-5, .tcode-event-schedule .col-xs-6, .tcode-event-schedule .col-xs-7, .tcode-event-schedule .col-xs-8, .tcode-event-schedule .col-xs-9, .tcode-event-schedule .col-xs-10, .tcode-event-schedule .col-xs-11, .tcode-event-schedule .col-xs-12 {
    float: left;
}
.tcode-event-schedule .col-xs-12 {
    width: 100%;
}
.tcode-event-schedule .col-xs-11 {
    width: 91.66666667%;
}
.tcode-event-schedule .col-xs-10 {
    width: 83.33333333%;
}
.tcode-event-schedule .col-xs-9 {
    width: 75%;
}
.tcode-event-schedule .col-xs-8 {
    width: 66.66666667%;
}
.tcode-event-schedule .col-xs-7 {
    width: 58.33333333%;
}
.tcode-event-schedule .col-xs-6 {
    width: 50%;
}
.tcode-event-schedule .col-xs-5 {
    width: 41.66666667%;
}
.tcode-event-schedule .col-xs-4 {
    width: 33.33333333%;
}
.tcode-event-schedule .col-xs-3 {
    width: 25%;
}
.tcode-event-schedule .col-xs-2 {
    width: 16.66666667%;
}
.tcode-event-schedule .col-xs-1 {
    width: 8.33333333%;
}
.tcode-event-schedule .col-xs-pull-12 {
    right: 100%;
}
.tcode-event-schedule .col-xs-pull-11 {
    right: 91.66666667%;
}
.tcode-event-schedule .col-xs-pull-10 {
    right: 83.33333333%;
}
.tcode-event-schedule .col-xs-pull-9 {
    right: 75%;
}
.tcode-event-schedule .col-xs-pull-8 {
    right: 66.66666667%;
}
.tcode-event-schedule .col-xs-pull-7 {
    right: 58.33333333%;
}
.tcode-event-schedule .col-xs-pull-6 {
    right: 50%;
}
.tcode-event-schedule .col-xs-pull-5 {
    right: 41.66666667%;
}
.tcode-event-schedule .col-xs-pull-4 {
    right: 33.33333333%;
}
.tcode-event-schedule .col-xs-pull-3 {
    right: 25%;
}
.tcode-event-schedule .col-xs-pull-2 {
    right: 16.66666667%;
}
.tcode-event-schedule .col-xs-pull-1 {
    right: 8.33333333%;
}
.tcode-event-schedule .col-xs-pull-0 {
    right: auto;
}
.tcode-event-schedule .col-xs-push-12 {
    left: 100%;
}
.tcode-event-schedule .col-xs-push-11 {
    left: 91.66666667%;
}
.tcode-event-schedule .col-xs-push-10 {
    left: 83.33333333%;
}
.tcode-event-schedule .col-xs-push-9 {
    left: 75%;
}
.tcode-event-schedule .col-xs-push-8 {
    left: 66.66666667%;
}
.tcode-event-schedule .col-xs-push-7 {
    left: 58.33333333%;
}
.tcode-event-schedule .col-xs-push-6 {
    left: 50%;
}
.tcode-event-schedule .col-xs-push-5 {
    left: 41.66666667%;
}
.tcode-event-schedule .col-xs-push-4 {
    left: 33.33333333%;
}
.tcode-event-schedule .col-xs-push-3 {
    left: 25%;
}
.tcode-event-schedule .col-xs-push-2 {
    left: 16.66666667%;
}
.tcode-event-schedule .col-xs-push-1 {
    left: 8.33333333%;
}
.tcode-event-schedule .col-xs-push-0 {
    left: auto;
}
.tcode-event-schedule .col-xs-offset-12 {
    margin-left: 100%;
}
.tcode-event-schedule .col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.tcode-event-schedule .col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.tcode-event-schedule .col-xs-offset-9 {
    margin-left: 75%;
}
.tcode-event-schedule .col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.tcode-event-schedule .col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.tcode-event-schedule .col-xs-offset-6 {
    margin-left: 50%;
}
.tcode-event-schedule .col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.tcode-event-schedule .col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.tcode-event-schedule .col-xs-offset-3 {
    margin-left: 25%;
}
.tcode-event-schedule .col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.tcode-event-schedule .col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.tcode-event-schedule .col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .tcode-event-schedule .col-sm-1, .tcode-event-schedule .col-sm-2, .tcode-event-schedule .col-sm-3, .tcode-event-schedule .col-sm-4, .tcode-event-schedule .col-sm-5, .tcode-event-schedule .col-sm-6, .tcode-event-schedule .col-sm-7, .tcode-event-schedule .col-sm-8, .tcode-event-schedule .col-sm-9, .tcode-event-schedule .col-sm-10, .tcode-event-schedule .col-sm-11, .tcode-event-schedule .col-sm-12 {
        float: left;
    }
    .tcode-event-schedule .col-sm-12 {
        width: 100%;
    }
    .tcode-event-schedule .col-sm-11 {
        width: 91.66666667%;
    }
    .tcode-event-schedule .col-sm-10 {
        width: 83.33333333%;
    }
    .tcode-event-schedule .col-sm-9 {
        width: 75%;
    }
    .tcode-event-schedule .col-sm-8 {
        width: 66.66666667%;
    }
    .tcode-event-schedule .col-sm-7 {
        width: 58.33333333%;
    }
    .tcode-event-schedule .col-sm-6 {
        width: 50%;
    }
    .tcode-event-schedule .col-sm-5 {
        width: 41.66666667%;
    }
    .tcode-event-schedule .col-sm-4 {
        width: 33.33333333%;
    }
    .tcode-event-schedule .col-sm-3 {
        width: 25%;
    }
    .tcode-event-schedule .col-sm-2 {
        width: 16.66666667%;
    }
    .tcode-event-schedule .col-sm-1 {
        width: 8.33333333%;
    }
    .tcode-event-schedule .col-sm-pull-12 {
        right: 100%;
    }
    .tcode-event-schedule .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .tcode-event-schedule .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .tcode-event-schedule .col-sm-pull-9 {
        right: 75%;
    }
    .tcode-event-schedule .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .tcode-event-schedule .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .tcode-event-schedule .col-sm-pull-6 {
        right: 50%;
    }
    .tcode-event-schedule .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .tcode-event-schedule .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .tcode-event-schedule .col-sm-pull-3 {
        right: 25%;
    }
    .tcode-event-schedule .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .tcode-event-schedule .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .tcode-event-schedule .col-sm-pull-0 {
        right: auto;
    }
    .tcode-event-schedule .col-sm-push-12 {
        left: 100%;
    }
    .tcode-event-schedule .col-sm-push-11 {
        left: 91.66666667%;
    }
    .tcode-event-schedule .col-sm-push-10 {
        left: 83.33333333%;
    }
    .tcode-event-schedule .col-sm-push-9 {
        left: 75%;
    }
    .tcode-event-schedule .col-sm-push-8 {
        left: 66.66666667%;
    }
    .tcode-event-schedule .col-sm-push-7 {
        left: 58.33333333%;
    }
    .tcode-event-schedule .col-sm-push-6 {
        left: 50%;
    }
    .tcode-event-schedule .col-sm-push-5 {
        left: 41.66666667%;
    }
    .tcode-event-schedule .col-sm-push-4 {
        left: 33.33333333%;
    }
    .tcode-event-schedule .col-sm-push-3 {
        left: 25%;
    }
    .tcode-event-schedule .col-sm-push-2 {
        left: 16.66666667%;
    }
    .tcode-event-schedule .col-sm-push-1 {
        left: 8.33333333%;
    }
    .tcode-event-schedule .col-sm-push-0 {
        left: auto;
    }
    .tcode-event-schedule .col-sm-offset-12 {
        margin-left: 100%;
    }
    .tcode-event-schedule .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .tcode-event-schedule .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .tcode-event-schedule .col-sm-offset-9 {
        margin-left: 75%;
    }
    .tcode-event-schedule .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .tcode-event-schedule .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .tcode-event-schedule .col-sm-offset-6 {
        margin-left: 50%;
    }
    .tcode-event-schedule .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .tcode-event-schedule .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .tcode-event-schedule .col-sm-offset-3 {
        margin-left: 25%;
    }
    .tcode-event-schedule .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .tcode-event-schedule .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .tcode-event-schedule .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .tcode-event-schedule .col-md-1, .tcode-event-schedule .col-md-2, .tcode-event-schedule .col-md-3, .tcode-event-schedule .col-md-4, .tcode-event-schedule .col-md-5, .tcode-event-schedule .col-md-6, .tcode-event-schedule .col-md-7, .tcode-event-schedule .col-md-8, .tcode-event-schedule .col-md-9, .tcode-event-schedule .col-md-10, .tcode-event-schedule .col-md-11, .tcode-event-schedule .col-md-12 {
        float: left;
    }
    .tcode-event-schedule .col-md-12 {
        width: 100%;
    }
    .tcode-event-schedule .col-md-11 {
        width: 91.66666667%;
    }
    .tcode-event-schedule .col-md-10 {
        width: 83.33333333%;
    }
    .tcode-event-schedule .col-md-9 {
        width: 75%;
    }
    .tcode-event-schedule .col-md-8 {
        width: 66.66666667%;
    }
    .tcode-event-schedule .col-md-7 {
        width: 58.33333333%;
    }
    .tcode-event-schedule .col-md-6 {
        width: 50%;
    }
    .tcode-event-schedule .col-md-5 {
        width: 41.66666667%;
    }
    .tcode-event-schedule .col-md-4 {
        width: 33.33333333%;
    }
    .tcode-event-schedule .col-md-3 {
        width: 25%;
    }
    .tcode-event-schedule .col-md-2 {
        width: 16.66666667%;
    }
    .tcode-event-schedule .col-md-1 {
        width: 8.33333333%;
    }
    .tcode-event-schedule .col-md-pull-12 {
        right: 100%;
    }
    .tcode-event-schedule .col-md-pull-11 {
        right: 91.66666667%;
    }
    .tcode-event-schedule .col-md-pull-10 {
        right: 83.33333333%;
    }
    .tcode-event-schedule .col-md-pull-9 {
        right: 75%;
    }
    .tcode-event-schedule .col-md-pull-8 {
        right: 66.66666667%;
    }
    .tcode-event-schedule .col-md-pull-7 {
        right: 58.33333333%;
    }
    .tcode-event-schedule .col-md-pull-6 {
        right: 50%;
    }
    .tcode-event-schedule .col-md-pull-5 {
        right: 41.66666667%;
    }
    .tcode-event-schedule .col-md-pull-4 {
        right: 33.33333333%;
    }
    .tcode-event-schedule .col-md-pull-3 {
        right: 25%;
    }
    .tcode-event-schedule .col-md-pull-2 {
        right: 16.66666667%;
    }
    .tcode-event-schedule .col-md-pull-1 {
        right: 8.33333333%;
    }
    .tcode-event-schedule .col-md-pull-0 {
        right: auto;
    }
    .tcode-event-schedule .col-md-push-12 {
        left: 100%;
    }
    .tcode-event-schedule .col-md-push-11 {
        left: 91.66666667%;
    }
    .tcode-event-schedule .col-md-push-10 {
        left: 83.33333333%;
    }
    .tcode-event-schedule .col-md-push-9 {
        left: 75%;
    }
    .tcode-event-schedule .col-md-push-8 {
        left: 66.66666667%;
    }
    .tcode-event-schedule .col-md-push-7 {
        left: 58.33333333%;
    }
    .tcode-event-schedule .col-md-push-6 {
        left: 50%;
    }
    .tcode-event-schedule .col-md-push-5 {
        left: 41.66666667%;
    }
    .tcode-event-schedule .col-md-push-4 {
        left: 33.33333333%;
    }
    .tcode-event-schedule .col-md-push-3 {
        left: 25%;
    }
    .tcode-event-schedule .col-md-push-2 {
        left: 16.66666667%;
    }
    .tcode-event-schedule .col-md-push-1 {
        left: 8.33333333%;
    }
    .tcode-event-schedule .col-md-push-0 {
        left: auto;
    }
    .tcode-event-schedule .col-md-offset-12 {
        margin-left: 100%;
    }
    .tcode-event-schedule .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .tcode-event-schedule .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .tcode-event-schedule .col-md-offset-9 {
        margin-left: 75%;
    }
    .tcode-event-schedule .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .tcode-event-schedule .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .tcode-event-schedule .col-md-offset-6 {
        margin-left: 50%;
    }
    .tcode-event-schedule .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .tcode-event-schedule .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .tcode-event-schedule .col-md-offset-3 {
        margin-left: 25%;
    }
    .tcode-event-schedule .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .tcode-event-schedule .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .tcode-event-schedule .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .col-lg-1, .tcode-event-schedule .col-lg-2, .tcode-event-schedule .col-lg-3, .tcode-event-schedule .col-lg-4, .tcode-event-schedule .col-lg-5, .tcode-event-schedule .col-lg-6, .tcode-event-schedule .col-lg-7, .tcode-event-schedule .col-lg-8, .tcode-event-schedule .col-lg-9, .tcode-event-schedule .col-lg-10, .tcode-event-schedule .col-lg-11, .tcode-event-schedule .col-lg-12 {
        float: left;
    }
    .tcode-event-schedule .col-lg-12 {
        width: 100%;
    }
    .tcode-event-schedule .col-lg-11 {
        width: 91.66666667%;
    }
    .tcode-event-schedule .col-lg-10 {
        width: 83.33333333%;
    }
    .tcode-event-schedule .col-lg-9 {
        width: 75%;
    }
    .tcode-event-schedule .col-lg-8 {
        width: 66.66666667%;
    }
    .tcode-event-schedule .col-lg-7 {
        width: 58.33333333%;
    }
    .tcode-event-schedule .col-lg-6 {
        width: 50%;
    }
    .tcode-event-schedule .col-lg-5 {
        width: 41.66666667%;
    }
    .tcode-event-schedule .col-lg-4 {
        width: 33.33333333%;
    }
    .tcode-event-schedule .col-lg-3 {
        width: 25%;
    }
    .tcode-event-schedule .col-lg-2 {
        width: 16.66666667%;
    }
    .tcode-event-schedule .col-lg-1 {
        width: 8.33333333%;
    }
    .tcode-event-schedule .col-lg-pull-12 {
        right: 100%;
    }
    .tcode-event-schedule .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .tcode-event-schedule .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .tcode-event-schedule .col-lg-pull-9 {
        right: 75%;
    }
    .tcode-event-schedule .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .tcode-event-schedule .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .tcode-event-schedule .col-lg-pull-6 {
        right: 50%;
    }
    .tcode-event-schedule .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .tcode-event-schedule .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .tcode-event-schedule .col-lg-pull-3 {
        right: 25%;
    }
    .tcode-event-schedule .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .tcode-event-schedule .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .tcode-event-schedule .col-lg-pull-0 {
        right: auto;
    }
    .tcode-event-schedule .col-lg-push-12 {
        left: 100%;
    }
    .tcode-event-schedule .col-lg-push-11 {
        left: 91.66666667%;
    }
    .tcode-event-schedule .col-lg-push-10 {
        left: 83.33333333%;
    }
    .tcode-event-schedule .col-lg-push-9 {
        left: 75%;
    }
    .tcode-event-schedule .col-lg-push-8 {
        left: 66.66666667%;
    }
    .tcode-event-schedule .col-lg-push-7 {
        left: 58.33333333%;
    }
    .tcode-event-schedule .col-lg-push-6 {
        left: 50%;
    }
    .tcode-event-schedule .col-lg-push-5 {
        left: 41.66666667%;
    }
    .tcode-event-schedule .col-lg-push-4 {
        left: 33.33333333%;
    }
    .tcode-event-schedule .col-lg-push-3 {
        left: 25%;
    }
    .tcode-event-schedule .col-lg-push-2 {
        left: 16.66666667%;
    }
    .tcode-event-schedule .col-lg-push-1 {
        left: 8.33333333%;
    }
    .tcode-event-schedule .col-lg-push-0 {
        left: auto;
    }
    .tcode-event-schedule .col-lg-offset-12 {
        margin-left: 100%;
    }
    .tcode-event-schedule .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .tcode-event-schedule .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .tcode-event-schedule .col-lg-offset-9 {
        margin-left: 75%;
    }
    .tcode-event-schedule .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .tcode-event-schedule .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .tcode-event-schedule .col-lg-offset-6 {
        margin-left: 50%;
    }
    .tcode-event-schedule .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .tcode-event-schedule .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .tcode-event-schedule .col-lg-offset-3 {
        margin-left: 25%;
    }
    .tcode-event-schedule .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .tcode-event-schedule .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .tcode-event-schedule .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .tcode-event-schedule .visible-xs {
        display: block !important;
    }
    table.tcode-event-schedule .visible-xs {
        display: table !important;
    }
    tr.tcode-event-schedule .visible-xs {
        display: table-row !important;
    }
    th.tcode-event-schedule .visible-xs,
    td.tcode-event-schedule .visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .tcode-event-schedule .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .tcode-event-schedule .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .tcode-event-schedule .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tcode-event-schedule .visible-sm {
        display: block !important;
    }
    table.tcode-event-schedule .visible-sm {
        display: table !important;
    }
    tr.tcode-event-schedule .visible-sm {
        display: table-row !important;
    }
    th.tcode-event-schedule .visible-sm,
    td.tcode-event-schedule .visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tcode-event-schedule .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tcode-event-schedule .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tcode-event-schedule .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .tcode-event-schedule .visible-md {
        display: block !important;
    }
    table.tcode-event-schedule .visible-md {
        display: table !important;
    }
    tr.tcode-event-schedule .visible-md {
        display: table-row !important;
    }
    th.tcode-event-schedule .visible-md,
    td.tcode-event-schedule .visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .tcode-event-schedule .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .tcode-event-schedule .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .tcode-event-schedule .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .visible-lg {
        display: block !important;
    }
    table.tcode-event-schedule .visible-lg {
        display: table !important;
    }
    tr.tcode-event-schedule .visible-lg {
        display: table-row !important;
    }
    th.tcode-event-schedule .visible-lg,
    td.tcode-event-schedule .visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .tcode-event-schedule .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tcode-event-schedule .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .tcode-event-schedule .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .tcode-event-schedule .hidden-lg {
        display: none !important;
    }
}
