/*LAYOUT STUFF*/
.essb_links.essb_template_metro-retina {
	margin: 12px 0 10px;
	text-align: left;
}
.lwc-post-info {
	margin-bottom: 10px;
}
.lwc-date {
	margin-bottom: 10px;
}
#lwc-ad-home-right, #lwc-ad-blog-right {
	padding-right: 10px;
}
.type-wrap blockquote *:last-child {
	margin-bottom: 10px;
}
.type-wrap blockquote {
	font-style: normal;
	margin: 0;
	padding: 0;
	border: none;
}
.type-wrap blockquote p {
	margin: 0;
	padding: 20px 20px 0;
}
.type-wrap blockquote p:last-child {
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.essb_link_mail .essb_network_name {
	margin: 0!important;
	font-size: 1px!important;
}
.lwc-content-wrap a h1.lwc-title, .lwc-content-wrap a.lwc-title-link {
	text-decoration: none!important;
}
#lwc-primary .lwc-ssc-right .ssc-desktop {
	-moz-box-shadow: 0px 0px 0px 15px #ffffff, -90px 0px 0px 15px #ffffff, -180px 0px 0px 15px #ffffff, -270px 0px 0px 15px #ffffff;
	-webkit-box-shadow: 0px 0px 0px 15px #ffffff, -90px 0px 0px 15px #ffffff, -180px 0px 0px 15px #ffffff, -270px 0px 0px 15px #ffffff;
	box-shadow: 0px 0px 0px 15px #ffffff, -90px 0px 0px 15px #ffffff, -180px 0px 0px 15px #ffffff, -270px 0px 0px 15px #ffffff;
}
/*AD STUFF*/
.dsk-banner-ad-a, .dsk-box-ad-a, .dsk-box-ad-b, .dsk-box-ad-c, .dsk-box-ad-d, .mob-box-ad-a, .mob-box-ad-b, .mob-box-ad-c, .mob-box-ad-d, .ad-contextual-a, .ad-contextual-b, .ad-contextual-g {
	background: #fff;
	text-align: center;
	margin: 0 auto;
}
.dsk-banner-ad-a, .dsk-box-ad-a, .dsk-box-ad-b, .ad-contextual-b {
	-moz-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1), inset 0 0 50px 0px #f7f7f7;
	-webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1), inset 0 0 50px 0px #f7f7f7;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1), inset 0 0 50px 0px #f7f7f7;
}
.dsk-banner-ad-a {
}
.dsk-box-ad-a {
}
.dsk-box-ad-b {
}
.dsk-box-ad-c, .dsk-box-ad-d {
	border-bottom: solid 1px #ddd;
	margin: 20px auto 20px;
}
.dsk-box-ad-c::before, .dsk-box-ad-d::before {
	content: "Advertiserment";
	font-size: 10px;
	margin: 0 auto 5px;
	color: #aaa;
	border-bottom: 1px solid #ddd;
	display: block;
}
.mob-box-ad-a {
	margin: 0 auto 20px;
}
.mob-box-ad-b {
	margin: 0 auto 20px;
}
.mob-box-ad-c {
	margin: 0 auto 20px;
}
.mob-box-ad-d {
	margin: 0 auto 20px;
}
.ad-contextual-a {
	margin: 20px auto 20px;
}
.ad-contextual-g {
	margin: 0 auto 20px;
}
.tpd-box {
	margin-bottom: 5px;
}
.dsk-sky-ad-a {
	float: right;
	min-width: 160px;
	margin: 20px 0 10px -160px;
}
