@media screen and (max-width: 999px) {
.essb_links.essb_template_metro-retina {
	margin: 12px 0 10px;
	text-align: left;
    display: block;
}
}
@media screen and (max-width: 769px) {
.dsk-box-ad-c, .dsk-box-ad-d {
	border-bottom: none;
	margin: 0;
}
.dsk-box-ad-c::before, .dsk-box-ad-d::before {
	margin: 0;
	color: transparent;
	border: none;
	display: none;
}
}
