/*
Theme Name:     Lowder With Crowder Child theme
Theme URI: 		http://wpdevelopers.com/
Description:    Child theme made by WP Developers
Author:         WP Developers
Author URI: 	http://wpdevelopers.com/
Template:       lwc-theme
Version:        1.2
*/

#sticky-social {
    position: fixed;
}

#sticky-social.stick-first {
      top: 72px;
      position: fixed;
}

#sticky-social.stick-now {
      top: 35px;
      position: 72px;
      z-index: 10000;
      -webkit-transition-delay: .5s; /* Safari */
      transition-delay: .5s;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}