.ssc-mobile, .ssc-mobile-wrap, .ssc-popup
{
    display: none;
}

.ssc-desktop
{
    position: relative;
    background-color: #fff;
    margin-top: 10px;
}
.ssc-desktop > hr {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
.ssc-total
{
    text-align: center;
    font-size: 36px;
    color: #c1c1c1;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    line-height: 110%;
    margin: 0;
}

.ssc-text
{
    font-size: 11px;
    margin: 5px 0 0;
    text-align: center;
    color: #c1c1c1;
    line-height: 100%;
}

.ssc-desktop a
{
    font-size: 11px;
    margin: 5px 0 0;
    color: #555555;
    line-height: 100%;
    text-decoration: none;
}

.ssc-desktop span
{
    margin-left: 5px;
    margin-top: 2px;
}

.count-bubble
{
    position: absolute;
    left: 100px;
    width: 35px;
    height: 22px;
    padding: 0px;
    background: #666666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0 2px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    opacity: 0;
}

.ssc-bubble:hover + .count-bubble
{
    opacity: 1;
}

.count-bubble:after
{
    content: "";
    position: absolute;
    top: 5px;
    left: -8px;
    border-style: solid;
    border-width: 3px 8px 3px 0;
    border-color: transparent #666666;
    display: block;
    width: 0;
    z-index: 1;
}

.more-bubble
{
    display: block;
    font-size: 11px;
    margin: -13px 0 0;
    color: #555555;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    margin: 1.25em 0 1.1875em
}

.more-bubble span
{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-bubble
{
    position: absolute;
    z-index: 99999999;
    top: -14px;
    left: 135px;
    width: 140px;
    padding: 0px 0 15px;
    background: #f6f6f6;
    display: none;
}

.bubble-triangle
{
    position: absolute;
    left: -35px;
    top: 147px;
}

.wrap-bubble a
{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.wrap-bubble a.ad
{
    margin-left: 10px;
    margin-top: 20px;
    max-width: 120px;
}


.count-v-bubble
{
    position: absolute;
    top: -25px;
    left: 0;
    width: 35px;
    height: 14px;
    padding: 0px;
    background: #666666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0 2px;
    color: #fff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    opacity: 0;
}

.ssc-icon:hover + .count-v-bubble
{
    opacity: 1;
}

.count-v-bubble:after
{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 12px;
    border-style: solid;
    border-width: 5px 3px 0;
    border-color: #666666 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.ssc-overlay
{
    background: #333333;
    opacity: 0.85;
    filter: alpha(opacity=85);
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

/*@media screen and (max-width: 1000px) {
    .ssc-desktop
    {
        display: none;
    }

    .ssc-mobile
    {
        display: block;
    }

    .ssc-mobile-wrap
    {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        margin-top: -15px;
    }

    .ssc-mobile-on
    {
        width: 30px;
        height: 26px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .ssc-popup
    {
        width: 220px;
        height: 427px;
        background-color: #f6f6f6;
        z-index: 9999999999;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .ssc-popup-wrap
    {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .ssc-popup-wrap p
    {
        margin: 17px 0 0 17px;
        padding: 0;
        font-style: normal;
        font-size: 11px;
    }

    .ssc-popup-wrap h2
    {
        font-size: 16px;
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
        color: #222222;
        margin: 0 0 0 17px;
    }

    .ssc-close
    {
        width: 16px;
        height: 16px;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 10px;
        top: -4px;
        cursor: pointer;
    }

    .ssc-icons-wrap
    {
        padding-left: 10px;
        padding-top: 10px;
    }

    .ssc-icons-wrap a
    {
        margin-left: 40px;
        display: inline-block;
        margin-top: 22px;
    }

    .ssc-icons-wrap a.ad
    {
        max-width: 120px;
    }
}

@media screen and (max-width: 1030px) {
    .ssc-desktop a, .ssc-desktop span
    {
        font-size: 8px;
    }
}*/